.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}
.header__logo{
  margin: 18px 0 18px 70px;
}
.header__nav_white-btn{
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  padding: 0;
  transition: opacity 0.2s;
}
.header__nav_white-btn:hover{
  opacity: 0.6;
}

.header__nav_sign-up{
  margin-right: 30px;
  font-size: 12px;
  line-height: 16px;
}

.header__nav_sign-in{
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  background: #3DDC84;
  color: #000;
  padding: 8px 20px ;
  transition: opacity 0.2s;
  cursor: pointer;
}
.header__nav_sign-in:hover{
  opacity: 0.6;
}

.header__nav{
  margin-right: 70px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.header__nav_profile{
  position: relative;
  padding-right: 43px;
  cursor: pointer;
}
.header__nav_logo{
  position: absolute;
  left: 74px;
  top: -7px;
}
.header__nav_movies{
  margin-right: 20px;
  cursor: pointer;
}
.header__nav_saved-movies{
  font-weight: 400;
  margin-right: 50px;
  cursor: pointer;
}
.header__nav_btn{
  display: none;
  border: none;
  background: none;
  padding: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}
.header__nav_btn:hover{
  opacity: 0.6;
}
@media screen and (max-width: 768px){
  .header__nav_hidden{
    display: none;
  }
  .header__nav_btn{
    display: block;
  }
  .header__logo{
    margin: 18px 0 18px 30px;
  }
  .header__nav{
    margin: 15px 30px 15px 0;
  }

}
@media screen and (max-width: 500px){
  .header__logo{
    margin: 18px 0 18px 14px;
  }
  .header__nav{
    margin: 15px 14px 16px 0;
  }
  
  .header__nav_sign-up{
    font-size: 10px;
  }

  .header__nav_sign-in{
    font-size: 10px;
  }
}