
.section-header{
  color: #fff;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
}

@media screen and (max-width: 500px){
 .section-header{
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 21.78px;
  }
}